#game {
    border: 10px solid;
    height:500px;
    width:500px;
    text-align: center;
    margin: auto 30%;
    position: relative;

}


.enemy{
    width:20px;
    height:20px;
    background-color: red;
    position: relative;
}




#paddle{
    width: 45px;
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 25px;
    left:10px;
   
}