#game {
    border: 10px solid;
    height:500px;
    width:500px;
    text-align: center;
    margin: auto 30%;
    position: relative;

}


.enemy{
    width:20px;
    height:20px;
    background-color: red;
    position: absolute;
    top:0px;
}

#counter{
    font-size:30px;
}

.powerup{
    height:40px;
    width:40px;
    position:absolute;
}

#paddle{
    width: 45px;
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 25px;
    left:10px;
   
}

#key{
 color:Green;
 background-color:black;
 height:100px;
 width:300px;
 position:absolute;
 top:600px;
 overflow: auto;
}